@import "tailwindcss";

@theme inline {
  --font-helvetica-neue: var(--font-helvetica-neue);

  --color-background: hsl(300 0% 95%);
  --color-foreground: hsl(300 0% 16%);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-helvetica-neue);
}
